h1{
    background: red;
}

h2{
    font-size: 30px;
    color: red;
    font-weight: bold;
}

a{
    text-decoration-line: none;
    color: black;
}

/*Ez nem tudom mi volt...*/
.blue{
    background: blue;
}

/*a script-ben lévő box div stílusa!!!*/
.box{
    height: 100px;
    width: 100px;
}